@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #f2f2f2;
  background-color: #161515;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #b393ff;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #b393ff;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 0px;
}

.blog-preview{
  padding: 15px 20px;
  margin: 10px 0px;
  border: 1px solid #554679;
  border-radius: 10px;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px #b393ffcb;
}

.blog-preview h2{
  font-size: 20px;
  /* color: #f1356d; */
  color: #b393ff;
  margin-bottom: 8px;
}

.sub-header{
  margin: 20px 0px;
  padding: 20px 0px;
  border-bottom: 1px solid #f2f2f2;
}